.title
	position: relative
	text-align: center
	margin-bottom: 30px
	h2
		font-weight: 400
		font-family: $title-font
		font-size: 36px
		position: relative
		color: $mine-shaft
		display: inline-block
		line-height: 1em
		+r(991)
			font-size: 34px
		+r(767)
			font-size: 32px
		+r(565)
			font-size: 28px
		&::before
			content: ''
			position: absolute
			right: -25px
			top: -10px
			width: 9px
			height: 9px
			background: $cerulean
			border-radius: 50%
	&_small
		text-align: left
		margin-bottom: 0
		+r(1199)
			text-align: center
		h2
			font-size: 24px
	&__city
		text-align: left
		margin-bottom: 20px
		h2
			font-size: 48px
			font-weight: 600
.logo
	display: inline-block
	width: 170px
	height: auto
	&__wrapper
		margin-right: 53px
		display: flex
		align-items: center
		+r(991)
			margin-right: 0
		a
			display: flex
			align-items: center
	&__header
		margin-right: 12px
