html, body
	font-family: $default-font
	font-weight: 400
	font-style: normal
	font-size: 14px
	line-height: 1.5em
	overflow-x: hidden
	position: relative
	min-width: 320px
.main
	min-height: calc(100vh - 200px)

*
	margin: 0
	padding: 0
ul
	margin: 0
	padding: 0
	list-style-type: none

a,
a:focus,
a:hover
	outline: none
	text-decoration: none
input
	border: 1px solid $manatee
	color: $manatee
	border-radius: 0
	line-height: 1em
	letter-spacing: 0.05em
	box-shadow: none
	font-size: 14px
	font-family: $default-font
	font-weight: 500
	width: auto
	text-transform: uppercase
	background: transparent
	outline: none
	-webkit-appearance: none
	-moz-appearance: none
	+r(767)
		margin-bottom: 20px
		background: $white
	+r(375)
		border-color: #5c5c5c
	&:required:valid
		color: $scorpion
		opacity: 1
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
	&::placeholder
		width: 100%
		display: inline
input[name="tel"]
	border-radius: 5px 0 0 5px
	max-width: 220px
	padding: 22px 30px 22px 37px
	+r(767)
		max-width: 270px
		padding: 22px 30px
		border-radius: 5px
input[name="name"]
	border-left: 0
	border-radius: 0 5px 5px 0
	max-width: 181px
	padding: 22px 30px 22px 36px
	+r(767)
		max-width: 270px
		border-left: 1px solid $alto
		padding: 22px 30px
		border-radius: 5px
	+r(375)
		border-color: #5c5c5c
