<section class="city">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="city__masonry_wrapper">
          <div class="city__masonry">
            <h4>Города</h4>
          </div>
          <div class="city__masonry">
          </div>
          <div class="city__masonry">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <div class="city__block">
          <h3>
            Крупнейшие города
          </h3>

          <ul class="city-list">
            <li>
              <a href="#">
                Москва
              </a>
            </li>
            <li>
              <a href="#">
                Санкт-Петербург
              </a>
            </li>
            <li>
              <a href="#">
                Новосибирск
              </a>
            </li>
            <li>
              <a href="#">
                Екатеринбург
              </a>
            </li>
            <li>
              <a href="#">
                Нижний Новгород
              </a>
            </li>
            <li>
              <a href="#">
                Казань
              </a>
            </li>
            <li>
              <a href="#">
                Челябинск
              </a>
            </li>
            <li>
              <a href="#">
                Омск
              </a>
            </li>
            <li>
              <a href="#">
                Самара
              </a>
            </li>
            <li>
              <a href="#">
                Ростов-на-Дону
              </a>
            </li>
            <li>
              <a href="#">
                Уфа
              </a>
            </li>
            <li>
              <a href="#">
                Красноярск
              </a>
            </li>
            <li>
              <a href="#">
                Пермь
              </a>
            </li>
            <li>
              <a href="#">
                Воронеж
              </a>
            </li>
            <li>
              <a href="#">
                Волгоград
              </a>
            </li>
            <li>
              <a href="#">
                Краснодар
              </a>
            </li>
            <li>
              <a href="#">
                Саратов
              </a>
            </li>
            <li>
              <a href="#">
                Тюмень
              </a>
            </li>
            <li>
              <a href="#">
                Тольятти
              </a>
            </li>
            <li>
              <a href="#">
                Ижевск
              </a>
            </li>
            <li>
              <a href="#">
                Барнаул
              </a>
            </li>
            <li>
              <a href="#">
                Ульяновск
              </a>
            </li>
            <li>
              <a href="#">
                Иркутск
              </a>
            </li>
            <li>
              <a href="#">
                Хабаровск
              </a>
            </li>
            <li>
              <a href="#">
                Ярославль
              </a>
            </li>
            <li>
              <a href="#">
                Владивосток
              </a>
            </li>
            <li>
              <a href="#">
                Махачкала
              </a>
            </li>
            <li>
              <a href="#">
                Томск
              </a>
            </li>
            <li>
              <a href="#">
                Оренбург
              </a>
            </li>
            <li>
              <a href="#">
                Кемерово
              </a>
            </li>
            <li>
              <a href="#">
                Новокузнецк
              </a>
            </li>
            <li>
              <a href="#">
                Рязань
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
