<section class="first-screen">
  <div class="container">
    <div class="first-screen__wrapper">
      <h1>
        Сервис Мастеров
      </h1>
      <div class="sub-title">
        <p>
          sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam
        </p>
      </div>
      <form action="sendmail.php" class="form">
        <div class="form__label_wrapper">
          <div class="form__label">
            <input type="tel" name="tel" placeholder="Введите телефон" required>
          </div>
          <div class="form__label">
            <input type="text" name="name" placeholder="Введите имя" required>
          </div>
        </div>
        <button class="button">
          Оставить заявку
        </button>
      </form>
      <a class="scroll-down" href="#info">
        <span>Листайте вниз</span>
      </a>
    </div>
  </div>
</section>
