<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="logo__wrapper">
        <a href="#">
          <img src="img/logo.jpg" alt="logo" class="logo logo__header">
          <div class="description">
            Служба <br>
            бытового сервиса
            на дому
          </div>
        </a>
      </div>
      <div class="footer__social">
        <h4>
          Мы в соц. сетях:
        </h4>
        <div class="footer__social_wrapper">
          <a href="#">
            <img src="img/facebook.svg" alt="">
          </a>
          <a href="#">
            <img src="img/telegram.svg" alt="">
          </a>
          <a href="#">
            <img src="img/whatsapp.svg" alt="">
          </a>
          <a href="#">
            <img src="img/viber.svg" alt="">
          </a>
        </div>
      </div>
      <div class="footer__callback">
        <a href="tel:+7800505050">7 (800) 50-50-50</a>
        <a href="#" class="modal_open">Обратный звонок</a>
      </div>
    </div>
    <div class="copyright">
      © Copyright | All rights reserved
    </div>
  </div>
</footer>
