<section class="form-section">
  <div class="container">
    <div class="form-section__wrapper">
      <div class="form-section__text">
        <div class="title title_small">
          <h2>
            Остались еще вопросы?
          </h2>
        </div>
        <p>
          Задайте их нашему консультанту! Мы перезвоним Вам в течение 5 минут
        </p>
      </div>
      <form action="sendmail.php" class="form">
        <div class="form__label_wrapper">
          <div class="form__label">
            <input type="tel" name="tel" placeholder="Введите телефон" required>
          </div>
          <div class="form__label">
            <input type="text" name="name" placeholder="Введите имя" required>
          </div>
        </div>
        <button class="button">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</section>
