<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="nav__button">
        <div class="bar">

        </div>
      </div>
      <div class="header__hamburger">
        <div class="logo__wrapper">
          <a href="#">
            <img src="img/logo.jpg" alt="logo" class="logo logo__header">
            <div class="description">
              Служба <br>
              бытового сервиса
              на дому
            </div>
          </a>
        </div>
        <nav class="nav">
          <button class="drop-button drop-button_hidden">
            меню
          </button>
          <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="#">Как мы работаем</a></li>
            <li><a href="#">Почему мы</a></li>
          </ul>
          <ul class="hidden-list">
            <li>
              <a href="#">
                Обратный звонок
              </a>
            </li>
          </ul>
        </nav>
        <div class="city-menu">
          <button class="drop-button">Города</button>
          <ul>
            <li><a href="city.html" target="_self">Москва</a></li>
            <li><a href="#" target="_self">Санкт-Петербург</a></li>
            <li><a href="#" target="_self">Новосибирск</a></li>
            <li><a href="#" target="_self">Екатеринбург</a></li>
            <li><a href="#" target="_self">Нижний Новгород</a></li>
            <li><a href="#" target="_self">Казань </a></li>
            <li><a href="#" target="_self">Челябинск </a></li>
            <li><a href="#" target="_self">Омск</a></li>
            <li><a href="#" target="_self">Самара</a></li>
            <li><a href="#" target="_self">Ростов-на-Дону</a></li>
            <li><a href="#" target="_self">Уфа </a></li>
            <li><a href="#" target="_self">Красноярск </a></li>
            <li><a href="#" target="_self">Пермь </a></li>
            <li><a href="#" target="_self">Воронеж </a></li>
            <li><a href="#" target="_self">Волгоград</a></li>
            <li><a href="#" target="_self">Краснодар</a></li>
            <li><a href="#" target="_self">Саратов </a></li>
            <li><a href="#" target="_self">Тюмень </a></li>
            <li><a href="#" target="_self">Тольятти  </a></li>
            <li><a href="#" target="_self">Ижевск  </a></li>
            <li><a href="#" target="_self">Барнаул </a></li>
            <li><a href="#" target="_self">Ульяновск </a></li>
            <li><a href="#" target="_self">Иркутск </a></li>
            <li><a href="#" target="_self">Хабаровск </a></li>
            <li><a href="#" target="_self">Ярославль </a></li>
            <li><a href="#" target="_self">Владивосток </a></li>
            <li><a href="#" target="_self">Махачкала </a></li>
            <li><a href="#" target="_self">Томск  </a></li>
            <li><a href="#" target="_self">Оренбург  </a></li>
            <li><a href="#" target="_self">Кемерово  </a></li>
            <li><a href="#" target="_self">Новокузнецк  </a></li>
            <li><a href="#" target="_self">Рязань  </a></li>
          </ul>
        </div>
        <div class="contacts__hidden">
          <ul>
            <li>
              Москва, Lorem ipsum 28, Lorem 4.
            </li>
            <li>
              Работаем круглосуточно
            </li>
            <li>
              <a href="#">
                <img src="img/facebook.svg" alt="">
              </a>
              <a href="#">
                <img src="img/telegram.svg" alt="">
              </a>
              <a href="#">
                <img src="img/whatsapp.svg" alt="">
              </a>
              <a href="#">
                <img src="img/viber.svg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="callback">
        <a href="tel:+7800505050">7 (800) 50-50-50</a>
        <a href="#" class="modal_open">Обратный звонок</a>
      </div>
    </div>
  </div>
</header>
