<section class="how-work">
  <div class="container">
    <div class="title">
      <h2>
        Как мы роботаем
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="how-work__steps_wrapper">
          <div class="how-work__steps">
            <div class="how-work__steps_num">
              <strong>1</strong>
              <p>шаг</p>
            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
          </div>
          <div class="how-work__steps_text">
            <h4>
              Lorem ipsum
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="how-work__steps_wrapper">
          <div class="how-work__steps">
            <div class="how-work__steps_num">
              <strong>2</strong>
              <p>шаг</p>
            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
          </div>
          <div class="how-work__steps_text">
            <h4>
              Lorem ipsum
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="how-work__steps_wrapper">
          <div class="how-work__steps">
            <div class="how-work__steps_num">
              <strong>3</strong>
              <p>шаг</p>
            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
          </div>
          <div class="how-work__steps_text">
            <h4>
              Lorem ipsum
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="how-work__steps_wrapper">
          <div class="how-work__steps">
            <div class="how-work__steps_num">
              <strong>4</strong>
              <p>шаг</p>
            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
            <div class="pusle">

            </div>
          </div>
          <div class="how-work__steps_text">
            <h4>
              Lorem ipsum
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
