<div class="info" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="info__block">
          <div class="info__block_number">
            43
          </div>
          <div class="info__block_text">
            <span>
              мастеров
            </span>
            <p>
              под контролем качества
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="info__block">
          <div class="info__block_number">
            1380
          </div>
          <div class="info__block_text">
            <span>
              качаственно
            </span>
            <p>
              выполненых заказов
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="info__block">
          <div class="info__block_number">
            364
          </div>
          <div class="info__block_text">
            <span>
              приборов
            </span>
            <p>
              спасено за месяц
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
