<div id="modal" class="modal">
  <div class="modal_close">
    <div class="bar"></div>
  </div>
  <div class="title">
    <h2>
      Оставьте заявку
    </h2>
  </div>
  <p>и мы вам перезвоним</p>
  <form action="sendmail.php" class="form">
    <div class="form__label_wrapper">
      <div class="form__label">
        <input type="tel" name="tel" placeholder="Введите телефон" required>
      </div>
      <div class="form__label">
        <input type="text" name="name" placeholder="Введите имя" required>
      </div>
    </div>
    <button class="button">
      Оставить заявку
    </button>
  </form>
</div>

<div id="thanks" class="modal">
  <div class="thanks_close modal_close">
    <div class="bar"></div>
  </div>
  <div class="title">
    <h2>
      Спасибо за заявку
    </h2>
  </div>
</div>
