<section class="why">
  <div class="container">
    <div class="title">
      <h2>
        Почему мы
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-1.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Гарантия до 1 года
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-2.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Низкие цены по прайсу компании
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-3.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Оплата после выполнения работы
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-4.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Проверенные квалифицированные мастера
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-5.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Приезжаем когда вам надо
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="why__wrapper">
          <div class="why__img-wrapper">
            <img src="img/why-6.svg" alt="">
          </div>
          <div class="how-work__steps_text">
            <h4>
              Запчасти и материалы по низким ценам
            </h4>
            <p>
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
