<section class="reviews">
  <div class="container">
    <div class="title">
      <h2>
        Отзывы
      </h2>
    </div>
    <div class="reviews__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <div class="reviews__slider_img">

              </div>
              <div class="reviews__slider_text">
                <h4>
                  Lorem ipsum
                  <time datetime="2019-05-1">1 Мая, 2019</time>
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <div class="reviews__slider_img">

              </div>
              <div class="reviews__slider_text">
                <h4>
                  Lorem ipsum
                  <time datetime="2019-05-1">1 Мая, 2019</time>
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <div class="reviews__slider_img">

              </div>
              <div class="reviews__slider_text">
                <h4>
                  Lorem ipsum
                  <time datetime="2019-05-1">1 Мая, 2019</time>
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <div class="reviews__slider_img">

              </div>
              <div class="reviews__slider_text">
                <h4>
                  Lorem ipsum
                  <time datetime="2019-05-1">1 Мая, 2019</time>
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
