<section class="services">
  <div class="container">
    <div class="title">
      <h2>
        Услуги
      </h2>
    </div>
    <div class="services__wrapper">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('idea')}}
            </div>
            <span class="services__text">
              <h4>
                Электрика
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('plumbing')}}
            </div>
            <span class="services__text">
              <h4>
                Сантехника
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('maid')}}
            </div>
            <span class="services__text">
              <h4>
                Клининг
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('fashion')}}
            </div>
            <span class="services__text">
              <h4>
                Химчистка
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('mechanic')}}
            </div>
            <span class="services__text">
              <h4>
                Муж на час
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('workstation')}}
            </div>
            <span class="services__text">
              <h4>
                По комьютеру
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
