<div class="about">
  <div class="container">
    <div class="about__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about__slider_block">
              <div class="about__slider_img">

              </div>
              <div class="about__slider_text">
                <div class="title title_small">
                  <h2>
                    Установка унитаза
                  </h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nam aliquam sem et tortor consequat. Ornare massa eget egestas purus viverra. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Eget nulla facilisi etiam dignissim diam quis enim lobortis.                </p>
                <button class="button">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__slider_block">
              <div class="about__slider_img">

              </div>
              <div class="about__slider_text">
                <div class="title title_small">
                  <h2>
                    Установка унитаза
                  </h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nam aliquam sem et tortor consequat. Ornare massa eget egestas purus viverra. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Eget nulla facilisi etiam dignissim diam quis enim lobortis.                </p>
                <button class="button">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__slider_block">
              <div class="about__slider_img">

              </div>
              <div class="about__slider_text">
                <div class="title title_small">
                  <h2>
                    Установка унитаза
                  </h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nam aliquam sem et tortor consequat. Ornare massa eget egestas purus viverra. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Eget nulla facilisi etiam dignissim diam quis enim lobortis.                </p>
                <button class="button">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__slider_block">
              <div class="about__slider_img">

              </div>
              <div class="about__slider_text">
                <div class="title title_small">
                  <h2>
                    Установка унитаза
                  </h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat sed cras ornare arcu dui vivamus. Arcu bibendum at varius vel pharetra. Velit dignissim sodales ut eu. Netus et malesuada fames ac turpis egestas maecenas pharetra. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Nam aliquam sem et tortor consequat. Ornare massa eget egestas purus viverra. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Eget nulla facilisi etiam dignissim diam quis enim lobortis.                </p>
                <button class="button">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
