<section class="faq">
  <div class="container">
    <div class="title">
      <h2>
        Вопрос - Ответ
      </h2>
    </div>
    <div class="faq__accordion">
      <div class="faq__wrapper">
        <div class="faq__head active">
          Lorem ipsum
        </div>
        <div class="faq__toggle active">
          <h4>Ответ:</h4>
          <p>
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt</a>
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Lorem ipsum
        </div>
        <div class="faq__toggle">
          <h4>Ответ:</h4>
          <p>
            dolor sit amet, consectetur <a href="#">adipiscing</a> elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Lorem ipsum
        </div>
        <div class="faq__toggle">
          <h4>Ответ:</h4>
          <p>
            dolor sit amet, <a href="#">consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Lorem ipsum
        </div>
        <div class="faq__toggle">
          <h4>Ответ:</h4>
          <p>
            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
