<section class="city-first-screen first-screen__template">
  <div class="container">
    <div class="city-first-screen__wrapper">
      <div class="title title__city">
        <h2>
          Сантехника
        </h2>
      </div>
      <p>
        sit amet, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam
      </p>
      <form action="sendmail.php" class="form">
        <div class="form__label_wrapper">
          <div class="form__label">
            <input type="tel" name="tel" placeholder="Введите телефон" required>
          </div>
          <div class="form__label">
            <input type="text" name="name" placeholder="Введите имя" required>
          </div>
        </div>
        <button class="button">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</section>
