<section class="price">
  <div class="container">
    <div class="title">
      <h2>
        Прайс-лист
      </h2>
    </div>
    <div class="price__wrapper">
      <table>
        <tr>
          <th>
            Наименование услуги
          </th>
          <th>
            Цены
          </th>
        </tr>
        <tr>
          <td>
            Lorem ipsum dolor sit amet
          </td>
          <td>
            <span>500</span> Руб./час
          </td>
        </tr>
        <tr>
          <td>
            Lorem ipsum dolor sit amet
          </td>
          <td>
            <span>500</span> Руб./час
          </td>
        </tr>
        <tr>
          <td>
            Lorem ipsum dolor sit amet
          </td>
          <td>
            <span>500</span> Руб./час
          </td>
        </tr>
        <tr>
          <td>
            Lorem ipsum dolor sit amet
          </td>
          <td>
            <span>500</span> Руб./час
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
