<section class="services">
  <div class="container">
    <div class="title">
      <h2>
        Услуги
      </h2>
    </div>
    <div class="services__wrapper">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('toilet')}}
            </div>
            <span class="services__text">
              <h4>
                Унитаз
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('bathtub')}}
            </div>
            <span class="services__text">
              <h4>
                Ванна
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('sink')}}
            </div>
            <span class="services__text">
              <h4>
                Умывальник
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('faucet')}}
            </div>
            <span class="services__text">
              <h4>
                Смеситель
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('pipes')}}
            </div>
            <span class="services__text">
              <h4>
                Счетчик воды
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="#" class="services__block">
            <div class="services__img">
              {{mixins.icon('pipes-water')}}
            </div>
            <span class="services__text">
              <h4>
                Трубы
              </h4>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
