<section class="provision-services">
  <div class="container">
    <div class="title">
      <h2>
        Чистка
      </h2>
    </div>
    <div class="provision-services__text">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus vestibulum sed arcu non. Et egestas quis ipsum suspendisse. Lorem sed risus ultricies tristique. In tellus integer feugiat scelerisque varius morbi.
      </blockquote>
      <p>
        Integer vitae justo eget magna fermentum iaculis eu non diam. Etiam sit amet nisl purus in mollis nunc sed. Non blandit massa enim nec dui. Maecenas sed enim ut sem viverra aliquet. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Id donec ultrices tincidunt arcu non sodales
      </p>
    </div>
  </div>
</section>
