<section class="services services-page">
  <div class="container">
    <div class="title">
      <h2>
        Субуслуги
      </h2>
    </div>
    <div class="services__wrapper">
      <div class="row">
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">
            <span class="services__text">
              <h4>
                Чистка
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">

            <span class="services__text">
              <h4>
                Установка
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">

            <span class="services__text">
              <h4>
                Проектирование
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">

            <span class="services__text">
              <h4>
                Lorem
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">

            <span class="services__text">
              <h4>
                Lorem
              </h4>
            </span>
          </a>
        </div>
        <div class="col-sm-4 col-lg-2">
          <a href="#" class="services__block">

            <span class="services__text">
              <h4>
                Lorem
              </h4>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
