.icon-bathtub {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fashion {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-faucet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-idea {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-maid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mechanic {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pipes-water {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pipes {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plumbing {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sink {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-toilet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-workstation {
  width: 1em;
  height: 1em;
  fill: initial;
}
