.about
	position: relative
	padding: 100px 0 50px
	background: $alabaster
	+r(991)
		padding: 80px 0 50px
		+r(767)
			padding: 60px 0 50px
		+r(575)
			padding: 50px 0
	&__slider
		&_block
			display: flex
			padding-bottom: 50px
			+r(991)
				flex-direction: column
		&_img
			width: 48%
			height: 300px
			margin-right: 20px
			margin-left: 10px
			overflow: hidden
			border-radius: 5px
			box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05)
			+r(991)
				width: calc( 100% - 40px)
				margin: 0 20px 40px
			+r(767)
				height: 200px
				
			img
				object-fit: cover
		&_text
			width: 48%
			padding: 10px 0
			+r(991)
				width: 100%
			+r(767)
				text-align: center
			.title
				margin-bottom: 15px
				text-align: left
				+r(767)
					text-align: center
			p
				color: $dusty-gray
				line-height: 1.7em
				margin-bottom: 15px
				&:last-of-type
					margin-bottom: 30px
		.swiper-pagination
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
		.swiper-pagination-bullet
			background: $cerulean
			opacity: 1
		.swiper-pagination-bullet-active
			width: 12px
			height: 12px
			background: $white
			border: 1px solid $cerulean

