.bread-crumb
	position: relative
	background: $alabaster
	padding: 10px
	a
		position: relative
		color: $cerulean
		font-weight: 500
		margin-right: 20px
		&::after, &::before
			position: absolute
			content: ''
		&::after
			width: 6px
			height: 6px
			border-right: 2px solid $dusty-gray
			border-top: 2px solid $dusty-gray
			right: -10px
			top: 50%
			transform: rotate(45deg) translateY(-50%)
		&::before
			width: 100%
			height: 1px
			background: $cerulean
			bottom: -2px
			left: 0
			transform: scale(1)
			transition: all .3s ease
		&:hover
			&::before
				transform: scale(0)
	span
		font-weight: 500
		color: $scorpion
