.city
	position: relative
	padding: 90px 0 75px
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 70px 0
	+r(575)
		padding: 50px 0
	&__block
		padding-top: 22px
		+r(575)
			text-align: center
		.city-list
			column-count: 4
			column-gap: 30px
			margin-bottom: 38px
			overflow: hidden
			+r(1199)
				column-count: 3
				column-gap: 60px
			+r(991)
				column-count: 4
				column-gap: 30px
			+r(767)
				column-count: 3
				margin-bottom: 15px
				text-align: center
			+r(575)
				column-count: 2
				column-gap: 0
				margin-bottom: 0
			li
				font-size: 16px
				line-height: 1.4em
				margin-bottom: 15px
				+r(565)
					margin-bottom: 10px
				a
					color: $scorpion
					position: relative
					transition: all .3s ease
					&::before
						content: ''
						position: absolute
						bottom: 0
						width: 100%
						height: 1px
						background: $cerulean
						transform: scale(0)
						transition: all .3s ease
					&:hover
						color: $cerulean
						&:before
							transform: scale(1)
	&__masonry
		background: $cerulean
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
			border-radius: 5px
		&:nth-of-type(1), &:nth-of-type(2)
			min-height: 250px
			margin-bottom: 10px
		&:nth-of-type(1)
			width: 52%
			margin-right: 5px
			display: flex
			justify-content: flex-end
			align-items: flex-end
			padding: 35px 20px
			background: url("../img/city-masonry-1.jpg") center no-repeat
			background-size: cover
			h4
				font-weight: 400
				font-family: $title-font
				font-size: 36px
				color: $white
				position: relative
				display: inline-block
				line-height: 1em
				&::before
					content: none
					position: absolute
					right: -25px
					top: -10px
					width: 9px
					height: 9px
					background: $cerulean
					border-radius: 50%
			+r(991)
				background: none
				width: 100%
				display: block
				text-align: center
				min-height: auto
				padding: 0
				h4
					color: $mine-shaft
					&::before
						content: ''

		&:nth-of-type(2)
			width: 45.3%
			margin-left: 5px
			background: url("../img/city-masonry-2.jpg") center no-repeat
			background-size: cover
			+r(991)
				display: none
		&:nth-of-type(3)
			min-height: 160px
			width: 100%
			background: url("../img/city-masonry-3.jpg") center no-repeat
			background-size: cover
			+r(991)
				display: none
		&_wrapper
			display: flex
			flex-wrap: wrap
//.read-more
//	display: inline-block
//	font-weight: 600
//	font-size: 16px
//	color: $cerulean
//	position: relative
//	padding-right: 7px
//	line-height: 1em
//	&::before
//		content: ''
//		position: absolute
//		bottom: -1px
//		left: 0
//		height: 1px
//		width: 100%
//		background: $cerulean
//		transform: scale(1)
//		transition: all .3s ease
//	&::after
//		content: ''
//		position: absolute
//		right: 0
//		top: 50%
//		width: 6px
//		height: 6px
//		border-right: 2px solid $cerulean
//		border-top: 2px solid $cerulean
//		transform: rotate(45deg) translateY(-50%)
//	&:hover
//		&::before
//			transform: scale(0)
//		&::after
//			animation: arrow-transform infinite .6s linear
//			@keyframes arrow-transform
//				0%
//					right: 0
//				50%
//					right: 3px
//				100%
//					right: 0
//	&__wrapper
//		text-align: right
//		+r(991)
//			text-align: left
//		+r(575)
//			text-align: center
h3
	font-family: $title-font
	font-weight: 700
	font-size: 20px
	color: $pickled-bluewood
	line-height: 1em
	margin-bottom: 28px
