.city-first-screen
	position: relative
	margin-top: 85px
	padding: 42px 0 63px
	background: url('../img/city-first-screen-bg.jpg') left top no-repeat
	background-size: cover
	&__wrapper
		p
			max-width: 400px
			font-size: 16px
			color: $dusty-gray
			line-height: 1.5em
			margin-bottom: 52px1
		+r(767)
			p
				margin: 0 auto 50px
				text-align: center
			.title__city
				text-align: center
