.faq
	position: relative
	padding: 100px 0
	background: url('../img/ct-faq-bg.jpg') center bottom no-repeat
	background-size: cover
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 60px 0
	+r(575)
		padding: 50px 0
	.title
		margin-bottom: 70px
		+r(767)
			margin-bottom: 50px
		+r(575)
			margin-bottom: 30px
	&__accordion
	&__wrapper
		margin-bottom: 30px
		position: relative
	&__head
		width: 100%
		max-width: 570px
		background: $white
		padding: 21px 75px 21px 25px
		border-radius: 5px
		position: relative
		font-weight: 500
		font-size: 18px
		color: $mine-shaft
		line-height: 1em
		&::before
			content: ''
			position: absolute
			right: 25px
			width: 24px
			height: 24px
			top: 50%
			border-radius: 50%
			background: $cerulean
			transform: translateY(-40%)
			transition: all .3s ease
		&::after
			position: absolute
			content: url('../img/arrow-bottom.svg')
			top: 50%
			right: 32px
			width: 10px
			height: auto
			transform: translateY(-40%)
			transition: all .3s ease
		&.active
			border-radius: 5px 5px 0 0
			&::before
				background: $golden-tainoi
			&::after
				content: url('../img/arrow.svg')
	&__toggle
		display: none
		width: 100%
		max-width: 570px
		background: $alabaster
		padding: 18px 25px
		margin-bottom: 30px
		border-radius: 0 0 5px 5px
		h4
			font-weight: 500
			font-size: 16px
			color: $golden-tainoi
			margin-bottom: 5px
		p
			color: $dusty-gray
			margin-bottom: 10px
			a
				color: $cerulean
				text-decoration: underline
				&:hover
					text-decoration: none
			&:last-child
				margin-bottom: 0
		&.active
			display: block
