.first-screen
	position: relative
	background: url('../img/first-screen-bg.jpg') top center no-repeat
	background-size: cover
	+r(375)
		background: url('../img/first-screen-bg-op.jpg') -1050px top
	&__wrapper
		padding-top: 265px
		padding-bottom: 207px
		+r(991)
			padding: 200px 0 150px
		+r(767)
			padding: 150px 0 130px
		+r(575)
			padding: 120px 0 90px
	.scroll-down
		position: absolute
		left: 0
		right: 0
		bottom: 35px
		text-align: center
		font-weight: 500
		color: $cerulean
		font-size: 14px
		text-transform: uppercase
		cursor: pointer
		padding: 20px 0
		transition: all .3s ease
		letter-spacing: 0.04em
		span
			position: relative
			padding-right: 20px
			&::before
				content: url('../img/scroll-down.svg')
				position: absolute
				right: 0
				top: -2px
				width: 10px
				height: 12px
		+r(991)
			bottom: 30px
		+r(767)
			bottom: 20px
		+r(575)
			bottom: 0
		&:hover
			animation: scroll-down infinite 1s ease-in-out
		@keyframes scroll-down
			0%
				transform: translateY(0)
			50%
				transform: translateY(5px)
			100%
				transform: translateY(0)
.sub-title
	font-size: 18px
	color: $dusty-gray
	max-width: 650px
	line-height: 1.7em
	margin-bottom: 50px
	+r(991)
		max-width: 525px
	+r(767)
		text-align: center
	+r(575)
		margin-bottom: 25px
		font-size: 16px
	p
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
h1
	font-family: $title-font
	font-weight: 600
	font-size: 60px
	color: $mine-shaft
	line-height: 1em
	max-width: 517px
	position: relative
	display: block
	width: 100%
	margin-bottom: 16px
	&::before
		content: ''
		width: 18px
		height: 18px
		background: $cerulean
		position: absolute
		border-radius: 50%
		right: 0
		top: -10px
	+r(767)
		text-align: center
	+r(575)
		margin-bottom: 10px
.form
	display: flex
	align-items: center
	width: 100%
	+r(767)
		flex-direction: column
		justify-content: center
	&__label
		&_wrapper
			display: flex
			margin-right: 31px
			+r(767)
				flex-direction: column
				margin-right: 0
.button
	color: $white
	text-transform: uppercase
	font-weight: 500
	font-size: 14px
	border-radius: 5px
	background-image: linear-gradient( to top, rgb(255,94,0) 0%, rgb(253,195,85) 100%)
	box-shadow: 0 20px 40px 0 rgba(255, 94, 0, 0.3),inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3)
	padding: 22px 39px
	transition: all .3s ease
	&:hover
		background-image: linear-gradient( to top, rgb(255,94,0) 0%, rgb(253,195,105) 100%)
		box-shadow: 0 20px 40px 0 rgba(255, 94, 0, 0.3),inset 0px -4px 0px 0px rgba(0, 0, 0, 0.3)
		transition: all .3s ease
