.footer
	padding: 60px 0 15px
	background: $alabaster
	border-top: 1px solid $mercury
	+r(991)
		padding: 50px 0 20px
	&__wrapper
		display: flex
		align-items: flex-start
		margin-bottom: 50px
		+r(1199)
			margin-bottom: 40px
		+r(991)
			flex-direction: column
			align-items: center
			margin-bottom: 20px
		.logo__wrapper
			+r(1199)
				margin-right: 15px
			+r(991)
				margin-bottom: 20px
			+r(575)
				margin-right: 0
				.logo__header
					margin-right: 0
					width: 170px
	&__callback
		margin-left: auto
		text-align: right
		max-width: 240px
		+r(991)
			text-align: center
			margin-right: auto
		a
			font-family: $title-font
			font-weight: 800
			font-size: 24px
			position: relative
			display: inline-block
			&:first-child
				color: $mine-shaft
				line-height: 1em
				transition: all .3s ease
				padding-left: 32px
				&::before
					content: url('../img/logo.svg')
					position: absolute
					width: 20px
					height: 20px
					left: 0
					top: 50%
					transform: translateY(-50%)
				&:hover, &:focus
					color: $cerulean
			&:last-child
				font-family: $default-font
				font-weight: 600
				font-size: 12px
				text-transform: uppercase
				padding-bottom: 1px
				color: $cerulean
				display: inline-block
				line-height: 1em
				&::before
					content: ''
					position: absolute
					bottom: 0
					right: 0
					width: 100%
					height: 2px
					background: $cerulean
					transform: scale(1)
					transition: all .3s ease
				&:focus, &:hover
					&::before
						transform: scale(0)

	&__social
		display: flex
		align-items: center
		margin-left: 60px
		+r(575)
			flex-direction: column
		&_wrapper
			display: flex
			align-items: center
		+r(1199)
			margin-left: 0
		+r(991)
			margin-bottom: 20px
		h4
			margin-right: 35px
			text-transform: uppercase
			color: $scorpion
			font-weight: 500
			font-size: 16px
			+r(1199)
				margin-right: 15px
			+r(576)
				margin-right: 0
				margin-bottom: 15px
		a
			display: flex
			margin-right: 12px
			width: 40px
			height: 40px
			border-radius: 50%
			border: 1px solid $mercury
			align-items: center
			justify-content: center
			img
				width: 20px
				height: 20px
				transition: all .3s ease
			&:hover
				img
					transform: scale(1.1)
	.copyright
		position: relative
		text-align: center
		color: $dusty-gray
		font-weight: 500
