.form-section
	position: relative
	padding: 55px 0 63px
	background: $alabaster
	+r(767)
		padding: 50px 0
	&__wrapper
		display: flex
		+r(1199)
			flex-wrap: wrap
	&__text
		display: flex
		flex-direction: column
		min-width: 500px
		padding-top: 15px
		margin-right: 30px
		+r(1199)
			margin-right: 0
			margin-bottom: 30px
			justify-content: center
			width: 100%
			min-width: auto
			text-align: center
		p
			color: $dusty-gray
	.button
		padding: 22px 35px
.form
	+r(1199)
		justify-content: center
	&__label
		position: relative
		label.error
			position: absolute
			text-align: center
			min-width: 185px
			top: -10px
			background: $alabaster
			border: 1px solid red
			border-radius: 4px
			font-family: $title-font
			font-weight: 700
			padding: 2px 5px
			color: red
			font-size: 12px
			left: 50%
			transform: translateX(-50%)


