.header
	position: fixed
	left: 0
	right: 0
	top: 0
	transition: all .4s ease
	z-index: 1000
	&.active
		+r(991)
			.container
				position: fixed
				padding: 0
				left: 0
				right: 0
				max-width: none
			.callback
				background: #2c2c2c
				z-index: 1100
				a
					&:first-child
						color: $white
	&.scroll
		background: rgba(0,0,0,.8)
		.description
			color: $white

		.nav
			a
				color: $white

				+r(1199)
					color: $gray
				+r(991)
					color: $white
			.hidden-list
				a
					color: $white
		.drop-button
			background: $white
			+r(991)
				background: transparent
		.callback
			a
				&:first-child
					color: $white
				&:hover
					&:first-child
						color: $cerulean
	&__hamburger
		display: flex
		align-items: center
		+r(991)
			transform: translateX(-100vw)
			position: absolute
			background: #2c2c2c
			width: 100%
			height: 100vh
			left: 0
			top: 0
			right: 0
			display: block
			text-align: center
			padding: 90px 0 20px
			overflow: auto
			transition: all .3s ease
			.logo__wrapper
				margin: 0 auto 15px
				display: block
				a
					display: block
				img
					margin: 0 auto
					display: block
			.nav
				margin: 0 auto 15px
				ul
					a
						&:hover
							background: none
		&.active
			transition: all .3s ease
			transform: translateX(0)
			margin-top: 0

	&__wrapper
		position: relative
		display: flex
		padding: 18px 0
		align-items: center
		transition: all .3s ease
		+r(991)
			justify-content: center
			padding: 0
.description
	display: inline-block
	max-width: 110px
	font-size: 12px
	line-height: 1.17em
	color: $gray
	+r(991)
		display: none

.nav
	font-weight: 600
	margin-right: 33px
	+r(1199)
		font-weight: 400
		margin-right: 10px
		margin-left: auto
	a
		color: $scorpion
		display: block
		padding: 15px 0
		line-height: 1em
		letter-spacing: .04em
		position: relative
		transition: all .3s ease
		text-align: center
		+r(1199)
			text-align: left
			line-height: 1.4em
		&::before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			right: 0
			height: 3px
			width: 100%
			background: $cerulean
			transform: scale(0)
			transition: all .3s ease
		&:hover, &:focus
			color: $cerulean
			&::before
				transform: scale(1)
	ul
		display: flex
		align-items: center
		text-transform: uppercase
		flex-wrap: wrap
		+r(1199)
			display: none
			position: absolute
			background-color: $white
			min-width: 180px
			z-index: 1
			max-height: 150px
			overflow: auto
			border: 1px solid $alto
			border-radius: 5px
			text-transform: none
			transform: translateX(-86px) translateY(30px)
			a
				color: $gray
				padding: 4px 10px
				text-decoration: none
				font-size: 14px
				display: block
				&:hover
					background-color: $cerulean
					color: $white
		+r(991)
			display: block
			position: relative
			transform: none
			border-radius: 0
			background: transparent
			border: 0
			a
				color: $white
				text-align: center
		&.hidden-list
			display: none
			li
				a
					background: $cerulean
					color: $white
	&.active
		.drop-button
			&::after
				border-color: $cerulean
				transform: rotateZ(-225deg) translateY(-2px) translateX(2px)
		ul
			display: block
			&.hidden-list
				transform: translateX(-86px) translateY(1px)
	li
		margin-right: 47px
		+r(1199)
			margin-right: 0
		&:last-child
			margin-right: 0
	&__button
		width: 50px
		height: 50px
		position: fixed
		display: none
		left: 10%
		z-index: 1200
		transition: all .4s ease
		+r(991)
			display: block
		.bar
			position: absolute
			width: 25px
			height: 3px
			top: 50%
			background: $cerulean
			transition: all .4s ease
			&::before, &::after
				position: absolute
				content: ''
				background: $cerulean
				width: 25px
				height: 3px
				left: 0
				transition: all .4s ease
			&::before
				top: 8px
			&::after
				top: -8px
		&.active
			.bar
				background: transparent
				&::before
					top: 0
					transform: rotate(-45deg)
				&::after
					top: 0
					transform: rotate(45deg)
.city-menu
	position: relative
	display: inline-block
	&.active
		.drop-button
			&::after
				border-color: $cerulean
				transform: rotateZ(-225deg) translateY(-2px) translateX(2px)
		ul
			display: block
	ul
		display: none
		position: absolute
		background-color: $white
		z-index: 1
		min-width: 480px
		overflow: auto
		border: 1px solid $alto
		border-radius: 5px
		column-count: 3
		column-gap: 10px
		transform: translateY(1px)
		+r(991)
			display: none
			transform: none
			position: relative
			border: 0
			border-radius: 0
			background: transparent
			text-align: center
			top: 10px
			a
				color: $white
		+r(575)
			column-count: 2
			min-width: 300px
		a
			color: $gray
			padding: 4px 10px
			text-decoration: none
			font-size: 14px
			display: block
			transition: all .3s ease
			&:hover
				background-color: $cerulean
				color: $white
	.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
		background: $cerulean
	.mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail
		background: $alto
	.mCSB_inside>.mCSB_container
		margin-right: 0
.drop-button
	position: relative
	display: block
	border: 1px solid $alto
	background: transparent
	padding: 7px 35px 7px 10px
	border-radius: 5px
	font-weight: 600
	font-size: 14px
	color: $cerulean
	text-transform: uppercase
	+r(991)
		width: 180px
		text-align: center
		padding: 7px 10px
		min-width: 180px
		margin: 0 auto
		color: $white
	&::after
		content: ''
		width: 6px
		height: 6px
		position: absolute
		border-left: 2px solid $gray
		border-bottom: 2px solid $gray
		top: 11px
		right: 17px
		transform: rotateZ(-45deg)
		transition: all .3s ease
	&_hidden
		display: none
		+r(1199)
			display: block
		+r(991)
			display: none
.callback
	margin-left: auto
	text-align: right
	max-width: 240px
	+r(1199)
		margin-left: 20px
		max-width: 230px
	+r(991)
		max-width: none
		display: flex
		flex-direction: column
		text-align: center
		width: 100%
		padding: 18px 0
		margin-left: 0
	a
		font-family: $title-font
		font-weight: 800
		font-size: 24px
		position: relative
		display: inline-block
		+r(991)
			font-size: 18px
		&:first-child
			color: $mine-shaft
			line-height: 1.5em
			transition: all .3s ease
			padding-left: 32px
			+r(991)
				padding-left: 0
			&::before
				content: url('../img/logo.svg')
				position: absolute
				width: 20px
				height: 20px
				left: 0
				top: 50%
				transform: translateY(-50%)
				+r(991)
					content: none
			&:hover, &:focus
				color: $cerulean
		&:last-child
			font-family: $default-font
			font-weight: 600
			font-size: 12px
			text-transform: uppercase
			padding-bottom: 1px
			color: $cerulean
			display: inline-block
			line-height: 1em
			+r(992)
				color: $blaze-orange
			&::before
				content: ''
				position: absolute
				bottom: 0
				right: 0
				width: 100%
				height: 2px
				background: $cerulean
				transform: scale(1)
				transition: all .3s ease
				+r(991)
					content: none
			&:focus, &:hover
				&::before
					transform: scale(0)
.contacts__hidden
	display: none
	text-align: center
	margin-top: 20px
	ul
		li
			margin-bottom: 10px
			color: $white
			a
				img
					width: 20px
					height: 20px
					transition: all .3s ease
					margin: 0 5px
	+r(991)
		display: block
