.how-work
	position: relative
	padding: 90px 0 95px
	background-color: $alabaster
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 70px 0
	+r(575)
		padding: 50px 0
	&__steps
		position: relative
		width: 100%
		height: 155px
		+r(576)
			height: 100px
		&_num
			position: absolute
			left: 50%
			top: 50%
			transform: translateY(-50%) translateX(-50%)
			width: 70px
			height: 70px
			border-radius: 50%
			background-color: $cerulean
			box-shadow: 0 20px 20px 0 rgba(0, 157, 221, 0.15),inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
			z-index: 10
			display: flex
			justify-content: center
			align-items: center
			color: $white
			strong
				font-family: $title-font
				font-weight: 800
				font-size: 48px
				line-height: 1em
			p
				line-height: 1em
				writing-mode: tb-rl
				transform: rotate(180deg)
			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%) translateX(70px)
				width: 250px
				height: 2px
				border-bottom: 2px dashed $alto
				z-index: -1
				+r(1199)
					width: 180px
				+r(991)
					content: none
			&:last-of-type
				content: none
		.pusle
			position: absolute
			left: 26%
			top: 10%
			height: 130px
			width: 130px
			border-radius: 50%
			border: 2px solid $cerulean
			animation: pulse 2s cubic-bezier(.9,.24,.62,.79) infinite
			&:nth-of-type(1)
				animation-delay: 0s
			&:nth-of-type(2)
				animation-delay: calc(2s / -3)
			&:nth-of-type(3)
				animation-delay: calc(2s / -6)
			+r(1199)
				left: 19%
			+r(991)
				left: 30%
			+r(767)
				left: 37%
			+r(575)
				display: none
		&_wrapper
			&:hover
				.how-work__steps_num
					background-image: linear-gradient( to top, rgb(255,94,0) 0%, rgb(253,195,85) 100%)
					box-shadow: 0px 20px 20px 0px rgba(255, 94, 0, 0.3),inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3)
				.pusle
					border-color: $blaze-orange

		&_text
			text-align: center
			h4
				font-weight: 500
				font-size: 18px
				color: $mine-shaft
				margin-bottom: 15px
			p
				color: $dusty-gray
				a
					color: $cerulean
					text-decoration: underline
					&:hover
						text-decoration: none
@keyframes pulse
	from
		transform: scale(0)
		opacity: 1
	to
		transform: scale(1)
		opacity: 0





.col-lg-3
	&:last-child
		.how-work__steps_wrapper
			.how-work__steps
				.how-work__steps_num
					&:before
						content: none
