.info
	position: relative
	padding: 60px 0
	background-color: $alabaster
	+r(991)
		padding: 60px 0 50px
	+r(767)
		padding: 60px 0 40px
	+r(575)
		padding: 50px 0 20px
	&__block
		display: flex
		justify-content: center
		+r(991)
			margin-bottom: 30px
		+r(419)
			justify-content: flex-start
		&_text
			font-size: 14px
			line-height: 1em
			display: flex
			flex-direction: column
			justify-content: flex-end
			p
				font-weight: 700
				color: $scorpion
			span
				font-weight: 500
				color: $dusty-gray
				display: inline-block
				padding-bottom: 5px
		&_number
			font-family: $title-font
			font-weight: 700
			font-size: 60px
			color: $cerulean
			line-height: .8em
			margin-right: 15px


