.modal
	position: relative
	background: $white
	margin-top: 5%
	border-radius: 5px
	padding: 60px 50px 40px
	.title
		margin-bottom: 0
	p
		text-align: center
		font-size: 22px
		margin-bottom: 30px
		color: $gray
	&_close
		position: absolute
		width: 15px
		height: 15px
		right: 15px
		top: 15px
		.bar
			position: absolute
			top: 50%
			left: 0
			width: 15px
			height: 3px
			background: transparent
			transform: translateY(-50%)
			&::before, &::after
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 15px
				height: 3px
				background: $cerulean
				transition: all .2s ease
			&::before
				transform: rotate(45deg)
			&::after
				transform: rotate(-45deg)
		&:hover
			.bar
				&::before, &::after
					background: $blaze-orange
