.price
	position: relative
	padding: 100px 0
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 60px 0
	+r(575)
		padding: 50px 0
	.title
		margin-bottom: 70px
		+r(767)
			margin-bottom: 50px
		+r(575)
			margin-bottom: 30px
	&__wrapper
		tr, td
			border: 1px solid $alto
		th
			background: $cerulean
			border: 1px solid #33b1e4
			color: $white
			text-align: left
			line-height: 1em
			padding: 20px 25px
			font-weight: 500
			font-size: 18px
			+r(767)
				padding: 15px
			&:first-child
				width: 75%
				+r(767)
					width: 60%
			&:last-child
				width: 25%
				+r(767)
					width: 40%
		td
			color: $mine-shaft
			line-height: 1em
			padding: 20px 35px
			font-weight: 500
			font-size: 18px
			+r(767)
				padding: 15px
			&:last-child
				text-transform: uppercase
				font-weight: 700
				font-size: 12px
				color: $dusty-gray
				span
					font-size: 18px
					color: $mine-shaft
					+r(575)
						display: block
						margin-bottom: 5px

