.provision-services
	position: relative
	padding: 100px 0 110px
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 60px 0
	+r(575)
		padding: 50px 0
	.title
		margin-bottom: 67px
		+r(767)
			margin-bottom: 45px
		+r(575)
			margin-bottom: 30px
	&__text
		text-align: center
		font-size: 16px
		blockquote, p
			margin-bottom: 10px
			line-height: 1.875em
			&:last-child
				margin-bottom: 0
		blockquote
			font-weight: 500
			color: $scorpion
			&:before
				content: '«'
			&:after
				content: '»'
		p
			color: $dusty-gray
