.reviews
	position: relative
	padding: 100px 0 50px
	background: $alabaster
	+r(991)
		padding: 80px 0 50px
	+r(767)
		padding: 60px 0 50px
	+r(575)
		padding: 50px 0
	.title
		margin-bottom: 70px
		+r(767)
			margin-bottom: 50px
		+r(575)
			margin-bottom: 30px
	&__slider
		&_block
			display: flex
		&_img
			width: 170px
			height: 170px
			margin-right: 20px
			margin-left: 10px
			border-radius: 50%
			box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05)
			overflow: hidden
			img
				object-fit: cover
			+r(1199)
				width: 150px
				height: 150px
			+r(767)
				width: 130px
				height: 130px
			+r(575)
				width: 100px
				height: 100px
			+r(420)
				width: 75px
				height: 75px
		&_text
			max-width: 370px
			width: 100%
			padding-top: 28px
			padding-bottom: 50px
			+r(1199)
				max-width: 270px
			+r(991)
				max-width: 505px
			+r(767)
				max-width: 370px
			+r(575)
				width: 300px
				padding-top: 0
			+r(420)
				width: 200px
			h4
				font-weight: 500
				font-size: 18px
				color: $mine-shaft
				margin-bottom: 15px
				time
					display: inline-block
					padding-left: 5px
					font-size: 14px
					color: $scorpion
			p
				color: $dusty-gray
				line-height: 1.7em
		.swiper-pagination
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
		.swiper-pagination-bullet
			background: $cerulean
			opacity: 1
		.swiper-pagination-bullet-active
			width: 12px
			height: 12px
			background: $white
			border: 1px solid $cerulean

