.services
	position: relative
	padding: 100px 0 30px
	+r(991)
		padding: 80px 0 30px
	+r(767)
		padding: 60px 0 5px
	+r(575)
		padding: 50px 0 20px
	.title
		margin-bottom: 70px
		+r(767)
			margin-bottom: 50px
		+r(575)
			margin-bottom: 30px
	&__block
		display: flex
		margin-bottom: 55px
		+r(575)
			margin-bottom: 30px
			justify-content: center
		&:hover
			.services__img
				background: $cerulean
				border-color: $cerulean
			.icon
				fill: $white
				transform: scale(1.3)
	&__img
		display: flex
		width: 70px
		height: 70px
		margin-right: 30px
		border-radius: 50%
		border: 1px solid $gallery
		align-items: center
		justify-content: center
		transition: all .3s ease
		.icon
			font-size: 32px
			fill: $cerulean
			transition: all .3s ease
	&__text
		width: 270px
		padding-top: 22px
		+r(1199)
			width: 200px
		+r(767)
			width: 160px
		+r(575)
			width: 200px
		h4
			font-weight: 500
			font-size: 18px
			color: $mine-shaft
			margin-bottom: 10px
		p
			color: $dusty-gray
			line-height: 1.7em
	&-page
		.services__text
			text-align: center
