.first-screen__template
	background: url('../img/template-fs-bg.jpg') center top no-repeat
	background-size: cover
	+r(576)
		background: url('../img/template-fs-bg-op.jpg') -1630px top no-repeat
		background-size: cover
