.why
	position: relative
	padding: 90px 0 20px
	+r(991)
		padding: 80px 0 30px
	+r(767)
		padding: 60px 0 20px
	+r(575)
		padding: 50px 0 30px
	.title
		margin-bottom: 70px
		+r(767)
			margin-bottom: 50px
		+r(575)
			margin-bottom: 30px
	&__wrapper
		margin-bottom: 53px
		+r(767)
			margin-bottom: 30px
		+r(575)
			margin-bottom: 20px
	&__img-wrapper
		display: flex
		width: 140px
		height: 140px
		justify-content: center
		align-items: center
		margin: 0 auto 32px
		border-radius: 50%
		border: 1px solid $gallery
		+r(575)
			width: 100px
			height: 100px
			margin-bottom: 15px
			img
				width: 50px
				height: auto
